<mat-toolbar class="navbar" color="primary">
  <div>
    Codevolution
  </div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>


<!--<mat-progress-spinner value="100"></mat-progress-spinner>-->
<!--<mat-spinner *ngIf="showSpinner"></mat-spinner>-->
<!--<button (click)="loadData()">Load data</button>-->


<!--<div>-->
<!--  <span matBadge="5">Notification</span>-->
<!--</div>-->
<!--<div>-->
<!--  <span matBadge="5" matBadgePosition="below before">Notification</span>-->
<!--</div>-->
<!--<div>-->
<!--  <span matBadge="5" matBadgePosition="below after">Notification</span>-->
<!--</div>-->
<!--<div>-->
<!--  <span matBadge="5" matBadgePosition="above before">Notification</span>-->
<!--</div>-->


<!--<div>-->
<!--  <mat-icon color="primary">delete</mat-icon>-->
<!--</div>-->
<!--<div>-->
<!--  <mat-icon color="accent">edit</mat-icon>-->
<!--</div>-->
<!--<div>-->
<!--  <mat-icon color="primary">shopping_cart</mat-icon>-->
<!--</div>-->
<!--<div>-->
<!--  <mat-icon color="warn">account_circle</mat-icon>-->
<!--</div>-->

<!--<div>-->
<!--  <mat-button-toggle #buttonToggle>Toggle</mat-button-toggle>-->
<!--  {{buttonToggle.checked}}-->
<!--</div>-->

<!--<div>-->
<!--  <button mat-button>Click!</button>-->
<!--  <button mat-raised-button>Click!</button>-->
<!--  <button mat-flat-button>Click!</button>-->
<!--  <button mat-stroked-button>Click!</button>-->
<!--</div>-->

<!--<div>-->
<!--  <button mat-icon-button>Click!</button>-->
<!--  <button mat-fab>Click!</button>-->
<!--  <button mat-mini-fab>Click!</button>-->
<!--</div>-->

<!--<div>-->
<!--  <button color="primary" mat-button>Click!</button>-->
<!--  <button color="accent" mat-button>Click!</button>-->
<!--  <button color="warn" disableRipple mat-button>Click!</button>-->

<!--  <button color="primary" mat-raised-button>Click!</button>-->
<!--  <button color="accent" mat-raised-button>Click!</button>-->
<!--  <button color="warn" mat-raised-button>Click!</button>-->
<!--</div>-->

<!--<div class="mat-display-4">This is display 4</div>-->
<!--<div class="mat-display-3">This is display 3</div>-->
<!--<div class="mat-display-2">This is display 2</div>-->
<!--<div class="mat-display-1">This is display 1</div>-->

<!--<div class="mat-headline">This is mat headline</div>-->
<!--<div class="mat-title">This is mat title</div>-->
<!--<div class="mat-subheading-2">This is mat sub heading 2</div>-->
<!--<div class="mat-subheading-1">This is mat sub heading 1</div>-->

<!--<div class="mat-body-1">This is mat body 1</div>-->
<!--<div class="mat-body-2">This is mat body 2</div>-->
<!--<div class="mat-caption">This is mat caption</div>-->
